name: Snyk Test

on:
  workflow_call:
    inputs:
      directory:
        description: 'Directory to test'
        required: true
        type: string

jobs:
  snyk:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.5'

      - name: Install dependencies
        run: |
          cd ${{ inputs.directory }}
          go mod tidy

      - name: Install Snyk
        run: npm install -g snyk

      - name: Authenticate Snyk
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk auth $SNYK_TOKEN

      - name: Run Snyk to check for vulnerabilities
        run: |
          cd ${{ inputs.directory }}
          snyk test --file=go.mod --severity-threshold=high
